@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-cyan: 180 66% 49%;
    --primary-dark-violet: 257 27% 26%;
    --secondary-red: 0 87% 67%;
    --neutral-gray: 0 0% 75%;
    --neutral-grayfish-violet: 257 7% 63%;
    --neutral-very-dark-blue: 255 11% 22%;
    --neutral-very-dark-violet: 260 8% 14%;
    --neutral-white: 0 100% 100%;
  }

  * {
    @apply selection:bg-primary-cyan selection:text-white;
  }

  html {
    @apply overflow-x-hidden scroll-smooth;
  }
}

@layer components {
  .partial-base-style {
    @apply max-w-[80rem] mx-auto px-6 lg:max-w-[75rem];
  }

  /* hamburger */
  .hamburger-icon {
    @apply w-7 h-6 flex flex-col justify-between lg:hidden;
  }

  .hamburger-icon span {
    @apply h-[4px] w-full block bg-neutral-grayfish-violet transition-all duration-300 ease-in-out;
  }

  .hamburger-icon--active span {
    @apply bg-primary-dark-violet;
  }

  .hamburger-icon > span:nth-child(1) {
    @apply origin-top-left;
  }

  .hamburger-icon > span:nth-child(3) {
    @apply origin-bottom-left;
  }

  .hamburger-icon--active > span:nth-child(1) {
    @apply rotate-[50deg];
  }

  .hamburger-icon--active > span:nth-child(2) {
    @apply scale-0;
  }

  .hamburger-icon--active > span:nth-child(3) {
    @apply -rotate-[50deg];
  }
  /* end hamburger */

  /* basic button styles */
  .button {
    @apply rounded-3xl px-8 py-3 font-bold hover:contrast-[1.3] focus:outline-transparent;
  }

  .primary-button {
    @apply button bg-primary-cyan text-neutral-white;
  }

  .secondary-button {
    @apply button bg-primary-dark-violet text-neutral-white;
  }

  .copy-button--active {
    @apply primary-button bg-primary-dark-violet;
  }
  /* end basic button styles */
}

.socmed-icon {
  @apply transition duration-300 ease-in-out;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%)
    contrast(105%);
}

.socmed-icon:hover {
  filter: invert(95%) sepia(82%) saturate(6346%) hue-rotate(125deg)
    brightness(86%) contrast(86%);
}
